<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right text-warning"></i>
                    <span class="text-warning">Cadastro de Usuários</span>
                </li>
            </ul>
            <div class="navbar-text my-2 my-sm-0">
                <a class="btn btn-primary btn-md" th:href="@{/usuarios/listar}" role="button">
                    <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
                    <span class="d-none d-sm-inline">Lista de Usuários</span>
                </a>
            </div>
        </div>
    </nav>
    <br>

    <div class="col-md-6 container card mb-3" id="cadastro">
        <h1 class="text-center"> <b> Cadastro de Usuários</b></h1>
        <div class="card-body">
            <form th:action="@{/usuarios/salvar}" th:object="${usuarios}" method="POST">
                <div class="form-group">
                    <label for="nome">Nome do Usuário</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome Usuário"
                           autofocus="autofocus" th:field="*{nome}"/>
                </div>

                <div class="form-group">
                    <label for="username">Informe o username</label>
                    <input type="text" class="form-control" id="username" placeholder="Digite o username..."
                           th:field="*{username}"/>
                </div>

                <div class="form-group">
                    <label for="senha">Informe a senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Digite a senha..."
                           th:field="*{senha}"/>
                </div>

                <div class="form-group">
                    <label for="tipo">Informe o tipo</label>
                    <select class="form-select" id="tipo" th:field="*{tipo}">
                        <option th:value="'Administrador'" th:text="Administrador"></option>
                        <option th:value="'Secretária'" th:text="Secretária"></option>
                        <option th:value="'Professor'" th:text="Professor"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>